body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  background-color: rgb(64, 64, 149);
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

#city {
  border:5px solid rgb(78, 102, 103);
  padding: 0 4%;
  margin: 0 1%;
}

.weather-icon {
  position: relative;
  top: 15px;
  width: 50px;
}

h4 {
  white-space: nowrap;
  margin: 0;
}

h4 .weather-icon {
  position: relative;
  top: 8px;
  width: 30px;
}

#layout {
  display: flex;
  padding: 0 5%;
}

#container {
  display: flex;
  justify-content: space-between;
}

.day {
  background-color: rgb(134, 194, 235);
  padding: 5px 20px;
  margin: 0 1%;
}

#left {
  width: 20%;
  padding-right: 30px;
}

#right {
  width: 80%;
}

input {
  display: block;
  width: 93%;
  margin: 8px 0px;
  padding: 3%;
  font-size: 100%;
  border-radius: 9px;
}

button {
  display: block;
  width: 100%;
  margin: 8px 0px;
  padding: 8px;
  font-size: 100%;
  font-weight: bold;
  border-radius: 9px;
}

.city-button {
  background-color: rgb(172, 167, 167);
}